<%- include('partials/header'); -%>



        <section>
            <div>
                <a href = "/tours">See Our Tours</a>
            </div>
        </section>
    </div>
    
</body>
</html>