<%- include('partials/header'); -%>



<div class = "tours">
    <div class = "tour">
        <img src = "beach.jpg" alt = "Tour" width = "300px" height="150px">
        <h1>Tour1</h1>
        <p>Welcome to our tours</p>
    </div>
    <div class = "tour">
        <img src = "beach.jpg" alt = "Tour" width = "300px" height="150px">
        <h1>Tour2</h1>
        <p>Welcome to our tours</p>
    </div>
    <div class = "tour">
        <img src = "beach.jpg" alt = "Tour" width = "300px" height="150px">
        <h1>Tour3</h1>
        <p>Welcome to our tours</p>
    </div>
    <div class = "tour">
        <img src = "beach.jpg" alt = "Tour" width = "300px" height="150px">
        <h1>Tour4</h1>
        <p>Welcome to our tours</p>
    </div>
    <div class = "tour">
        <img src = "beach.jpg" alt = "Tour" width = "300px" height="150px">
        <h1>Tour5</h1>
        <p>Welcome to our tours</p>
    </div>
    <div class = "tour">
        <img src = "beach.jpg" alt = "Tour" width = "300px" height="150px">
        <h1>Tour6</h1>
        <p>Welcome to our tours</p>
    </div>
</div>

</body>
</html>

